obj
bin

/.vs/ProjectEvaluation/threadingcontrol.metadata.v6.1
/.vs/ProjectEvaluation/threadingcontrol.projects.v6.1
/.vs/ThreadingControl/DesignTimeBuild/.dtbcache.v2
/.vs/ThreadingControl/FileContentIndex/6e8b3dcd-7dc7-40ad-860b-8b1d3f7715ec.vsidx
/.vs/ThreadingControl/FileContentIndex/8294bc2d-a0ce-4d6e-87f8-eee41d00793d.vsidx
/.vs/ThreadingControl/FileContentIndex/92e77845-4dc3-48cf-b4dd-895bc5905eec.vsidx
/.vs/ThreadingControl/FileContentIndex/96136633-e9cc-4814-903a-105b6d4be74a.vsidx
/.vs/ThreadingControl/FileContentIndex/read.lock
/.vs/ThreadingControl/v17/.futdcache.v2
/.vs/ThreadingControl/v17/.suo
